body {
  margin: 0;
  position: relative;
  height: 100vh;
  background: url("img/background.jpg");
  object-fit: cover;
  font-family: roboto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

header {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header button {
  height: 62px;
  width: 150px;
  border-radius: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.02);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid #ffffff98;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.33);
  color: #232323;
}

.container {
  height: calc(100vh - 110px);
  padding: 10px;
  overflow-x: hidden;
}

.card {
  height: 85px;
  margin: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  font-size: 24px;
  color: #232323;
  border-radius: 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid #ffffff98;
  box-shadow: 10px 6px 25px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 10px 6px 25px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 6px 25px 0px rgba(0, 0, 0, 0.29);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.085),
    transparent 40%
  );
  pointer-events: none;
}

.card span {
  font-size: 12px;
}

.card-title-container {
  display: flex;
  flex-direction: column;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  padding: 18px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid #ffffff34;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) inset;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) inset;
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) inset;
}

.card-btn img {
  height: 28px;
  width: 28px;
}

.container-edit-todo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 110px);

  background: rgba(255, 255, 255, 0);
  box-shadow: 20px 8px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  width: 80vw;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
}
